@import url(https://fonts.googleapis.com/css?family=Be+Vietnam+Pro:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:"Be Vietnam Pro" , sans-serif;
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    
}

.note{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
}


.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   

    
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    
    padding-top: 1 rem;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    margin-top: 2%;
}
@media (max-width: 700px) {
    .nav-items {
      flex-direction: column;
      gap: 1rem;
    }

}


.log-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.logo-text{
    margin-left: -0.7rem;
    font-size: 2rem;
    animation: tex;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items{
    display: flex;
    gap: 1rem;
    
}
.logo{
    width: 3rem;
}
.nav-items div a{
    color: black;

}
a{
    text-decoration: none;
    /* color: black; */
}
.nav-items div a:hover{
    transition:0.5s ;
    font-weight: bold;

}
.hero{
    position: relative;
    display: flex;

    
    height: 100%;
    
    width: 100%;
    margin: 0 auto;
}
.faded-text{
    user-select: none;
    font-size: 7rem;
    color: rgb(231, 231, 231);
   
    font-weight: bold;
    transition: all 3s;
    margin-left: 10%;
}
#bhavii{
    height: 12rem;
    z-index: -7;
    width: 98%;
   
}
.hero-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    justify-content: center;
    gap: 2rem;
    
}
.hero-left-heading{
    font-style: 35px;
    color: #343d68;
    font-weight: 500;
    


}
.hero-left-subheading{
    font-size: 45px;
    line-height: 45px;
}
.role{
    color: #4e45d5;
    font-weight: 8
    00;
    font-size: 38px;
}
.hero-left-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;

}
.botton{
    background-color: #e84949;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    font-size: 18px;
    z-index: 1;
    width: 190px;
    height: 50px;
   cursor: pointer;
    text-align: center;
}
.botton::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 1s;
    z-index: -1;

}
.botton:hover::before{
    transform: scaleX(1);
}
.hero-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


    
}

.white-page{
    width: 40%;
    
    
    position: relative;

    
}
@media (max-width: 700px) {
    .hero {
      flex-direction: column; /* Child divs are placed in a column */
      gap: 3rem;
    }
    .hero-left{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
      
    }
    .hero-right{
        width: 100%;
       

    }

    .hero-left-heading{
      text-align: center;
        
    
    
    }
    .hero-left-subheading{
        text-align: center;
    }
    .role{
        color: #4e45d5;
        font-weight: 8
        00;
        font-size: 38px;
    }
    .hero-left-description{

        margin: 0
        auto;
    
    }
    .botton{
   
        margin: 0
        auto;
    }
    .faded-text{
        user-select: none;
        font-size: 4rem;
        color: rgb(231, 231, 231);
       
        font-weight: bold;
        transition: all 3s;
        text-align: center;
        margin: 3%;
    }

   
    
  
    

}

.absolute{
    position: absolute;
}
.bhavi{
    padding: 0.4rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
    
  
    
}
#bhavii{
    width: 92%;
    margin: 0.5rem;
}
.icons-dots{
    z-index: 1;
    
    top: 14rem;
    right: 0;
    animation: dotsAnimations;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.icons-cube{
    z-index: 1;
    
    top:-0.8em;
    right:-1em;
    animation: cubeRotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
.icons-dots img{
    height: 30px;
}

.icons-circle{
    z-index: 1;
    left:7%;
    top: 80%;
    
    
   
    animation: circleShake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.icons-zigzak{
    z-index: 1;
    
    top: -1em;
    left: -0.7em;
    
    animation:zigAnimations ;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    
}
.icons-plus{
    z-index: 1;
    
    top:-0.8rem;
    left: 45%;
    animation:plusAnimations ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}




.projects{
    background-color: rgb(231, 231, 231);
    margin-top: -2rem;
    padding-top: 4%;
    width: 100vw;

}
.project-heading{
    text-align: center;
    color:  #e84949;
    font-size: 70px;
    font-style: bold;
}

.project-container{
    display: flex;

    margin: 0 auto;
    flex-direction: column;
    padding:  3rem;
    width: 90%;
    gap: 4rem;

    
}

.project-card{
    width: 90%;
    position: relative;

    height: 65vh;

}



#project1{
    /* background-image: url(/images/projects/Project1.png); */
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    margin-left: 10%;
}

.p{
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

#project2{
    /* background-image: url(/images/projects/Project2.png); */
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
     
}

#project3{
    /* background-image: url(/images/projects/Project3.png); */
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    margin-left: 10%;
}

#project4{
    /* background-image: url(/images/projects/Project4.png); */
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}
.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    background-color: #1f1f1f7a;
    z-index: 0;
}

.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    background: linear-gradient(45deg,#343d689a,#343d686a),#343d686c;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
    z-index: 1;


}

.project-card:hover::before{
    transform: scaleX(1);
}


.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color:white;
    z-index: 2;
    transform: scale(0);

}
.project-number-right{
    right: -40px;top: -45px;

}
.project-number-left{
    left: -40px;top: -45px;

}
.project-card:hover .project-number{
    transform: scaleX(1);
    transition: 0.5s;
}

.project-content{
    display: flex;
    position: absolute;
    z-index: 3;
    flex-direction: column;
    color: white;
    padding: 2rem;
    gap: 1rem;
    transition: all 0.4s;
    bottom: 20%;

}
.project-content-left{
    left: 10%;

}
.project-content-right{
    right: 10%;

}

.project-skills-container{
    width: 100%;

    gap: 1rem;
    flex-wrap:wrap ;
    height: 90%;
    display: flex;
}
.project-skill{
    width: 2.3rem;
}
.project-skill:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

.project-heading{
    display: flex;
    font-size: 2rem;
    font-weight: bold;
  
    color: white;
    margin-bottom: 10%;
  

}
.project-headings{
    
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color:  #e84949;
  
  
    left: 0;

}
.project-subheading{
    width: 70%;
    font-style: italic;
    font-size:1rem;
}
.btn-grp{
    display: flex;

    gap: 2rem;
    align-items: center;
}
i{
    transform: scale(2.2);
    color: white;
    cursor: pointer;
    
}
i:hover{
    color:  #e84949;
    transition: 0.4s;
}

.project-card:hover .project-content{
    transform: scale(1.2);
    transition: 0.5s;
}

@media (max-width: 700px) {

    .projects{
        background-color: rgb(231, 231, 231);
       
        padding-top: 4%;
    
        width: 100%;
   
        
        
    
    }
    .project-skill{
        width: 1.3rem;
    }
    .project-content-left{
        left: 0%;
    
    }
    .project-content-right{
        margin: 0 auto;
    
    }
    .btn-project{
        align-self: center;   
    
    }
    .project-skills-container{
        width: 100%;
        display: flex;
        gap: 0.5rem;
        flex-wrap:wrap ;
        height: 100%;
    
    }    
    .btn-grp{
        display: flex;
    
        gap: 1rem;
        align-items: center;
        width: 10%;
        display: none;
        
        
    }
    
    .project-content{
        

        display: flex;
        position: absolute;
        z-index: 3;
        flex-direction: column;
        color: white;
        padding: 2rem;
        gap: 0.2rem;
        transition: all 0.4s;
        
      
  
        
    }
    .project-container{
     
       
        
       
        width: 100%;
        padding: 0rem;
        height: 100%;
     
      
    
        
    }
    .project-subHeading{
        width: 70%;
        font-style: italic;
        font-size:0.7rem;
    }
    .project-heading{
       
        font-size: 1rem;
        
        
    
    }
    .project-card{
 
    
        height: 40vh;
       
        
    }
    #project1{
     
        margin: 0 auto;
        width: 85%;
    
        
    }
    #project2{

        
        margin: 0 auto;
        width: 85%;
    
        
    }
    #project3{

        margin: 0 auto;
        width: 85%;
    
        
    }
    #project4{
    
        margin: 0 auto;
        width: 85%;
        margin-bottom: 4rem;
    
        
    }

    .project-number{

        font-size: 4rem;
      
       
      
    
    }
    .project-skills-container{
       justify-content: center;
    }

}
@media (max-width: 380px) {

  

}

.skills-container{
    display: flex;
    width: 90vw;
   
    flex-direction: row;
    margin: 0 auto;
    margin-top: 10%;
    

}

.skill-left-container{
    
   

    width: 50%;

    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.skill-right-container{
    display: flex;
    
    width: 50%;
    flex-wrap: wrap;
    gap: 2rem;
  height: 100%;
  position: relative;
  z-index: 0;
 
  justify-content: center;
  
    
    
}

.skill-left-heading{
    
    font-size: 40px;
  width: 100%;
    
    


}
.skill-left-paragraph{

    width: 70%

}
#caps{
    font-size: 75px;
}
.head{
    font-size: 50px;
    color:  #e84949;
    
}

.skills-logo{
    width :70px;
    height: 70px;
    z-index: 0;
    cursor: pointer;
    
}
.skills-logo:hover{
    transform: scale(1.5);
    transition: 0.8s;
    filter: drop-shadow(0 0 10px #333);

}

.skill-right-container:hover{
    transform: scale(1.05);
    transition: 1s;
    


}
.skill-right-container:hover .blob-style{
    transform: scale(1.1);
    transition: 2s;
 


}

.blob-style{
    position: absolute;
    z-index: -1;
    top: 5rem;
        transform: scale(1);
    right: 4rem;
    
  
    animation: bobbel;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: 5s;
    animation-timing-function: linear;
   
    
   
    
}


@keyframes bobbel {
   
    
    20%{
        top: -1.5rem;
        right: 2rem;
        
  
   
    
    }
  

}

.skills-faded-text{
    user-select: none;
    font-size: 10rem;
    color: rgb(231, 231, 231);
   
    font-weight: bold;
margin-left: 10%;
animation-name: skill-faded;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   display: flex;

   align-items: baseline;
    

}
.skill-box{
    height: 20vh;
    width: 100vw;
    display: flex;align-items: baseline;
    margin-bottom: 4%;
}

@keyframes skill-faded {
    50%{
        margin-left: 20%;
        color: rgb(230, 230, 230);
        transition: 5s;
    }    
}

@media (max-width: 700px) {

    .skills-container{
        
        flex-direction: column;
     
     
        
    
    }

    
.skill-left-container{
   

    width: 100%;

    

    margin:  0 auto;
    
}
.skill-right-container{
    margin:  0 auto;
    display: flex;
    
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
  height: 100%;
  position: relative;
  z-index: 0;
    
    
}
.skill-left-paragraph{
    width: 100%;
    margin-bottom: 10%;

}


.skills-faded-text{
    margin-left: 1%;

    font-size: 5rem;
  
    


}

.skill-box{
 margin-bottom: -13%;
}





}

.paragraph{
    font-size: 1.2rem;
}

.contact-form-container{
    display: flex;
   
    width: 100%;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
   
}

.contact-heading{

    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.badi-heading{
    font-size: 5rem;
}
.choti-heading{
    font-size: 2rem;
    color: #343d68aa;
}

.l-btn{
    margin: 2rem;
    
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (max-width: 700px) {

    .badi-heading{
        font-size: 3rem;
        text-align: center;
    }
    
    .choti-heading{
        text-align: center;
        font-size: 1.5rem;
   
    }

}
.input-section{
    display: flex;
    flex-direction: column;
  padding-left: 13%;
  padding-right: 13%;
    gap: 1.4rem; 
    justify-content: center;

}
.formfield{
    width: 100%;
    height: 0.1rem;
    box-shadow: 2px 2px 10px #1f1f1f;
    padding: 2rem;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
}
#msg{
    height: 10rem;
    color: #343d68aa;
    padding-left: 0%;
}
#sumbit-btn{
    width: 30%;
}
#sumbit-btn:hover{
    transform: scale(0.8);
    transition: 0.6s;
}
.footer-container{
    background-color: #343d68;
    display: flex;
    width: 100%;
    padding: 3%;
    
    
}
.faded-bhavi{
    font-size: 4rem;
    
    
    background-color: #343d68;
    text-align: center;
  
  
   color: #535c87;
   
}
.foot-right{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5%;
   
}
@media (max-width: 700px) {
    .link-wrapper{
        
        gap: 6rem;

    
       
        flex-direction: column;
        
    }
    .icon-wrapper{
      flex-direction: column;
     
     
    }
   
}
.link-wrapper{
    display: flex;
    gap: 3rem;
    margin-top: -1%;

   
    
}
.icon-wrapper{
    display: flex;
    gap: 2.5rem;
 
 
}
.link-wrapper a{
    color: white;
    font-size: 1.3rem;
}
.f:hover{
    color:  #e84949;
    
    transition: 0.2s;


}


@keyframes zigAnimations {
    50%{
        
        right: 1em;
        top: 2%;
        transform: rotateY(-6deg);
    }
   
    
}

@keyframes plusAnimations {
    50%{
        top:1%;
        left:45%
    }
   
    
}
@keyframes tex {
    0%{
        
        font-size: 35px;
        text-shadow: 5px 5px 7px  #0000003f;
    }  
    50%{
        
        font-size: 30px;
        text-shadow: 5px 5px 7px  #0000003f;
    }
    100%{
        
        font-size: 35px;
        text-shadow: 5px 5px 7px  #0000003f;
    }
   
    
}
@keyframes scaleImage {
    0%{
        filter: grayscale(0);
        transform: scale(1);
        box-shadow: 3px 3px 10px black;
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        transform: scale(1);
        filter: grayscale(1);
        box-shadow: 3px 3px 5px black;
    }

    
    
}
@keyframes dotsAnimations {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
    
  }
  @keyframes cubeRotate {
    0%{
        transform: rotateY(0deg) translateY(0px);
    }
    50%{
        transform:  rotateY(180deg) translateY(-12px);
    }
    100%{
        transform:  rotateY(360deg) translateY(0px);
    }
  }

@keyframes circleShake {
   
    50%{
        left: -13px;
       top: 95%;
    }
   
    
    
}
